* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  width: 100%;
  height: calc(100vh - 10vh);
}
/* ===== LOGIN CARD ===== */
.login-card {
  background-color: transparent;
  width: 100%;
  height: calc(100vh - 20vh);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.login-card h2 {
  color: #1e3a5f;
  margin-bottom: 20px;
  font-weight: 500;
}

/* ===== INPUT ===== */
main input {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

main input:focus {
  outline: none;
  border-color: #1e3a5f;
}

/* ===== BUTTON ===== */
main button {
  width: 20%;
  padding: 12px;
  font-size: 16px;
  background-color: rgb(0, 255, 208);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #2c5282;
}
.login-card img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 100px;
}
/* ===== ICON / TEXT ===== */
.icon {
  font-size: 40px;
  margin-bottom: 10px;
}
.message {
  display: flex;
  flex-direction: row;
  width: 100%;
}
header {
  background-color: white;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 0px 5px black;
  display: flex;
  justify-content: start;
  align-items: center;
}
header img {
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}
.text-message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}
.text-message img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px;
}
.text-message p {
  font-size: larger;
}
.left {
  width: auto;
  max-width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: row; /* horizontal layout */
  align-items: flex-start; /* align items to the top */
  gap: 10px; /* space between profile and text */
  padding: 10px;
  background-color: #28313f;
  color: white;
  word-break: break-word;
}
.right {
  width: auto;
  max-width: 200px;
  border-radius: 10px;
  display: flex;
  align-items: end;
  padding: 10px;
  background-color: #80b7ff;
  color: white;
  word-break: break-all;
}
#right-message {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
#left-message {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

/* From Uiverse.io by adamgiebl */
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #bcbec0;
  animation: pulse 1s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}
